# Enable rewrite engine
RewriteEngine On

# Set the base directory
RewriteBase /

# Redirect all requests to index.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L]

# Set the MIME type for JavaScript files
AddType application/javascript .js